@import "tailwindcss";

:root {
  --background: #FCF6F5;
  --foreground: #990011;
  --accent: #990011; /* A nice muted blue/lavender accent */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-black: #FCF6F5;
  --color-white: #990011;
  --font-oswald: var(--font-oswald), sans-serif;
  --font-petit: var(--font-petit-formal-script), cursive;
  --font-season-mix: var(--font-season-mix), sans-serif;
  --font-season-sans: var(--font-season-sans), sans-serif;
  --font-sans: var(--font-season-mix), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #990011;
    --foreground: #FCF6F5;
    --accent: #FCF6F5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}
